footer{
    background-color: rgba(68, 109, 231, 0.918);
    clear: none;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    color: #fff;
    font-weight: bold;
    align-content: center;
}

